body,
.container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #f8f9fa;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

table,
th,
td {
  border: 1px solid #dee2e6;
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pagination button {
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: bold;
}

.pagination .current {
  background-color: #0056b3;
}

.pagination button:hover {
  background-color: #0056b3;
}

input,
button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
